{% extends 'base.html' %}
{% block content %}
<section class="aboutfond_contacts two_column">
    <p class="ab_contacts__header title">Контакты</p>
    <div class="ab_contacts__top">
        <div class="af_contacts__info">
            <p>Фонд капитального ремонта общего имущества многоквартирных домов Липецкой области</p>
            <ul>
                <li>Юридический адрес: 398001, Липецкая область, г. Липецк, ул.Советская, д.3</li>
                <li>Почтовый адрес: 398001, Липецкая область, г. Липецк, ул.Толстого, д. 1, 4 этаж, каб. 412</li>
                <li>Телефон: 370-166, 370-134 </li>
                <li>E-mail: info@kapremont48.ru</li>
            </ul>
        </div>
        <div class="ya_map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af6dd8a262f6fca99d98813df2cab0aa5cbd7cd216338dc481120952d707ab48e&amp;source=constructor" width="600" height="400" frameborder="0"></iframe>
        </div>
    </div>
    <p class="title">Контакты сотрудников</p>
    <table class="af_contacts_employer_table">
        <tr>
            <td>Приёмная</td>
            <td>8 (4742) 370 134</td>
        </tr>
        <tr>
            <td>Заместитель генерального директора</td>
            <td>8 (4742) 370-154</td>
        </tr>
        <tr>
            <td>Главный бухгалтер</td>
            <td>8 (4742) 370-164</td>
        </tr>
        <tr>
            <td>Отдел бухгалтерского учета и отчетности</td>
            <td>8 (4742) 370-154</td>
        </tr>
        <tr>
            <td>Горячая линия</td>
            <td>8 (4742) 370-154</td>
        </tr>
    </table>
</section>
{% endblock %}