{%extends "base.html"%}
{%block content%}
<section class="banner">
    <div class="slider">
        <a href="http://portal.fkr48.ru" target="_blank"><div class="slide1"><!-- <img src="../../static/imgs/slide1.jpg" alt="" style="object-fit: cover;"> --></div></a>
        <div class="slide2"><!-- <img src="../../static/imgs/slide2.jpg" alt="" style="object-fit: cover;"> --></div>
        <div class="slide3"><!-- <img src="../../static/imgs/slide3.jpg" alt="" style="object-fit: cover;"> --></div>
    </div>
</section>
<section class="action_blocks">
    <div class="ablocks__blocks">
        <a href="https://www.reformagkh.ru/myhouse?tid=2279312" target="_blank">
            <div class="ablocks__blocks_item blue">
                <div class="ablocks__blocks_item_img">
                    <img src="../../static/imgs/my_house.png" alt="">
                </div>
                <p>Мой дом в капремонте</p>
            </div>
        </a>
        <a href="https://l-gis.ru/fkr/" target="_blank">
            <div class="ablocks__blocks_item blue">
                <div class="ablocks__blocks_item_img">
                    <img src="../../static/imgs/message.png" alt="">
                </div>
                <p>Оставить обращение</p>
            </div>
        </a>
        <a href="/"><div class="ablocks__blocks_item blue">
                <div class="ablocks__blocks_item_img">
                <img src="../../static/imgs/online_pay.png" alt="">
                </div>
                <p>Оплатить онлайн</p>
            </div></a>
    </div>
    <p class="action_blocks__info">«Фонд капитального ремонта общего имущества многоквартирных домов Липецкой области» – некоммерческая организация, которая является региональным оператором долгосрочной программы капитального ремонта общего имущества многоквартирных домов Липецкой области. Учредителем Фонда выступило Управление жилищно-коммунального хозяйства Липецкой области.</p>
</section>
<section class="info_block white">
    {%for i in info%}
    <div class="iblock__item">
        <p class="ib__item_type">Млн. руб</p>
        <p class="ib__item_count">{{i.name}}</p>
        <p class="ib__item_text">Всего собрано <br>средств</p>
    </div>
    <div class="iblock__item">
        <p class="ib__item_type">Домов</p>
        <p class="ib__item_count">{{i.all_home}}</p>
        <p class="ib__item_text">В программе <br>кап. ремонта</p>
    </div>
    <div class="iblock__item">
        <p class="ib__item_type">Млн. руб</p>
        <p class="ib__item_count">{{i.paid}}</p>
        <p class="ib__item_text">Оплачено за кап. <br>ремонт</p>
    </div>
    <div class="iblock__item">
        <p class="ib__item_type">Домов</p>
        <p class="ib__item_count">{{i.repaired}}</p>
        <p class="ib__item_text">Отремонтировано<br> за все время</p>
    </div>
    {%endfor%}
</section>
<section class="news_block">
    <p class="nblock__header title">Последние новости</p>
    <div class="nblock__content">
        <div class="nblock__list_news">
            {% for news in last_three %}
            <div class="nblock__lnews_item">
                <div class="nblock__lnews_item_header">
                    <a href="{%url 'single' pk=news.id%}">
                        <p class="nblock__lnews_item_header_text">{{ news.name }}</p>
                    </a>
                    <p class="nblock__lnews_item_header_date">{{ news.date }}</p>
                </div>
                <div class="nblock__lnews_item_text">{{ news.text|truncatewords:20 | safe }}</div>
            </div>
            {% endfor %}
            <a class="nblock__all_news blue" href="{%url 'news'%}">Смотреть все новости</a>
        </div>
        <div class="nblock__last_new">
            {% if last.picture %}
            <div class="nblock__last_new_text">
                <p>{{ last.date }}</p>
                <p class="nblock__last_new_text_title">{{ last.name }}</p>
            </div>
            <a href="{%url 'single' pk=last.id%}"><img src="{{ MEDIA_URL }}{{ last.picture.url }}" alt=""></a>
            {% endif %}</div>
    </div>
</section>
<section class="partners_block">
    <p class="pblock__header">Наши партнеры</p>
    <div class="pblock_content">
        {%for i in partners%}
        <a href="{{i.url}}">
            <div class="pblock__item">{%if i.picture%}<img src="{{MEDIA_URL}}{{i.picture.url}}" alt="">{% endif %}</div>
        </a>
        {%endfor%}
    </div>
</section>
{%endblock%}