{% extends 'base.html' %}
{% block content %}
    <section class="aboutfond_infogr two_column">
        <p class="title">Инфографика по вопросам <br>функционирования системы капремонта</p>
        <div class="aboutfond_infogr__content">
            {% for i in info %}
                <div class="aboutfond_infogr__item">
                    <a href="{{ i.file.url }}" target="_blank">
                        <img src="{{ MEDIA_URL }}{{ i.image.url }}" alt="">
                    </a>
                    <p>{{ i.name }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
