{% extends 'base.html' %}
{% block content %}
<section class="infoblock">
    <p class="title"> Поиск</p>
    {% if found %}
        {% for founded in found %}
            {% for f in founded %}
                <div class="file_links">
                    <a href="{{ f.get_absolute_url }}">
                        {{ f.name }}
                    </a>
                    {{ f.text|truncatewords:50 | safe }}
                    <a class="btn btn-default btn-sm" href="{{ f.get_absolute_url }}">Читать далее...</a>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
    {% endif %}
</section>
{% endblock %}