{% extends 'base.html' %}
{% block content %}
<section class="infoblock">
    <p class="title">Проведение конкурсных процедур: Постановление №267 от 19.06.2014г. _ до 12.05.15 </p>
    <p>В данной категории находятся все конкурсы размещенные ранее 12.05.15 года Уважаемые посетители нашего сайта! Для более быстрого поиска интересующей Вас информации на данной странице, нажмите сочетание клавиш Ctrl+F или F3 (функциональная клавиша в верхнем ряду клавиатуры) и в появившемся поле напишите искомый текст (например, "Вермишева, д. 7"). </p>
    <p class="file_links"><img src="../../static/imgs/ico_doc.svg" alt="" ><a href="">Документация открытого конкурса по определению кредитной организации на право заключения договоров на: «Открытие и ведение счетов и специальных банковских счетов областного оператора для формирования фонда капитального ремонта общего имущества в многоквартирных домах на территории Липецкой области».</a></p>
</section>
{% endblock %}